@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#profile_img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

#slack {
  display: none;
}

.btn {
  box-sizing: border-box;
padding: 24px 32px;
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
height: 76px;
color: #101828;
background: #EAECF0;
text-decoration: none;
border: 1px solid #EAECF0;
border-radius: 8px;
font-weight: 500;
font-size: 18px;
margin-bottom: 24px;
}
.App-header  {
  text-align: center;
}
.App-header h1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #101828;
}
.m-5 {
  margin: 10rem;
}
.py-2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.justifybetween {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
  gap: 1rem;
}
.flex-sm {
  display: flex;
}
@media (max-width:768px) {
  .flex {
    display: block;
  }
  .m-5 {
    margin: 1rem;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
}